@model OursweetGame.Models.Car
@{
    ViewBag.Title = "DisplayCar";
}

<h2>DisplayCar</h2>

<div class="jumbotron">
    <h1>@Model.Color</h1>
    <h1>@Model.Make</h1>
    <h1>@Model.Year</h1>
    <h1>@ViewBag.Old </h1>

</div>




