
@{
    ViewBag.Title = "ConfirmationPage";
}

<h2>The Data has been Saved</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
       
        <li style="background-color:aqua" >@Html.ActionLink("DisplayCharacter", "DisplayCharacter", "Game")</li>
    </ul>
</div>

