
<h1>Enter your information below</h1>

<br />
<br />
    <form action="/Game/ProcessCreateCharacter" method="post">

        Name of Character: <input type="text" id="Name" name="Name" />
        <br />
        Character Age: <input type="number" id="Age"  name="Age"/>
       <br />
        Character Job <input type="text" id="Job" name="Job"  />
        <br />
        <input type="submit" value="Create Character"/>


    </form>
