<div style="background-color:red">
    <h1>This is our sweet Game Welcome</h1>

    This Game is Awesome
    <br />
    <hr />
    <a href="/game/DisplayCharacter">View Roster</a>
    <a href="/game/CreateCharacter">Create Character</a>
    <a href="/game/KillCharacter">Delete Character</a>
</div>

